body {
    background-color: ghostwhite;
}

#flatPicLi {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.upperBanner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
